
<div class="container padding-small">

  <% if(url.includes('categories')) { %>
    
     <%- include(global.PROJECT_ROOT+'/views/store/categories/storeCategories.ejs') %>

  <% } else if(url.includes('brands')) { %>
    
     <%- include(global.PROJECT_ROOT+'/views/store/brands/storeBrands.ejs') %>
  
  <% } else if(url.includes('search')) { %>
    
      <%- include(global.PROJECT_ROOT+'/views/store/home/storeSearch.ejs') %>

  <% } else { %>
    
     <%- include(global.PROJECT_ROOT+'/views/store/products/storeProducts.ejs') %>
    
  <% } %>
        
  <aside class="col-md-3">
    <div class="sidebar">
      <div class="widgets widget-menu">

        <div class="widgets g-3">
          <h5 class="widget-title mb-1">Search &lt To Do &gt</h5>
          <div class="col-auto d-flex align-top">
            <label for="searchField" class="visually-hidden">Search</label>
            <input class="form-control h-75" type="text" id="searchField" placeholder="Search here" />
            <a href="/store/search/"><button class="btn btn-dark" id="btnSearch"><i class="fas fa-search"></i></button></a>
          </div>
        </div>

        <div class="widgets">
          <h5 class="widget-title mb-2 mt-4">Brands</h5>
          <ul class="product-tags sidebar-list list-unstyled">
            <% brandList.map(function(value, index) { %>
            <li class="tags-item">
              <a href="/store/brands/<%= value.brandId %>"><%= value.brandName %></a>
            </li>
            <% }) %>
          </ul>
        </div>

        <div class="widgets">
          <h5 class="widget-title mb-2 mt-4">Product Filter &lt To Do &gt</h5>
          <ul class="product-tags sidebar-list list-unstyled">

            <li class="tags-item">
              <a href="">Less than $10</a>
            </li>

            <li class="tags-item">
              <a href="">$10- $20</a>
            </li>

            <li class="tags-item">
              <a href="">$20- $30</a>
            </li>

            <li class="tags-item">
              <a href="">$30- $40</a>
            </li>

            <li class="tags-item">
              <a href="">$40- $50</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </aside>
</div>       
