
<div class="container padding-small">

  <% if(url.includes('categories')) { %>
    
     <%- include(global.PROJECT_ROOT+'/views/store/categories/storeCategories.ejs') %>

  <% } else if(url.includes('brands')) { %>
    
     <%- include(global.PROJECT_ROOT+'/views/store/brands/storeBrands.ejs') %>
  
  <% } else if(url.includes('search')) { %>
    
      <%- include(global.PROJECT_ROOT+'/views/store/home/storeSearch.ejs') %>

  <% } else { %>
    
     <%- include(global.PROJECT_ROOT+'/views/store/products/storeProducts.ejs') %>
    
  <% } %>
        
  <aside class="col-md-3">
    <div class="sidebar">
      <div class="widgets widget-menu">

        <div class="widgets g-3">
          <h5 class="widget-title mb-2">Search</h5>
          <div class="widget-search-bar">
            <!-- <form role="search" method="get" class="search-form" action="/store/search">
              <input type="search" id="search-form" class="search-field" placeholder="Type and press enter" value="" name="s">
              <button type="submit" class="search-submit pb-2 mb-0 pt-3 mt-4"><a href="/store/search"><i class="icon icon-search" style="font-size: 2rem; color:rgb(150, 150, 150)"></i></a></button>
            </form> -->
            <div class="search-form">
              <input type="search" id="search-form" class="search-submit search-field" placeholder="Type to search">
            </div>
          </div> 
        </div>

        <div class="widgets">
          <h5 class="widget-title mb-2 mt-4">Brands</h5>
          <ul class="product-tags sidebar-list list-unstyled">
            <% brandList.map(function(value, index) { %>
            <li class="tags-item">
              <a href="/store/brands/<%= value.brandId %>"><%= value.brandName %></a>
            </li>
            <% }) %>
          </ul>
        </div>

        <div class="widgets">
          <h5 class="widget-title mb-2 mt-4">Product Filter &lt To Do &gt</h5>
          <ul class="product-tags sidebar-list list-unstyled">

            <li class="tags-item">
              <a href="">Less than $10</a>
            </li>

            <li class="tags-item">
              <a href="">$10- $20</a>
            </li>

            <li class="tags-item">
              <a href="">$20- $30</a>
            </li>

            <li class="tags-item">
              <a href="">$30- $40</a>
            </li>

            <li class="tags-item">
              <a href="">$40- $50</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </aside>
</div>       
