<section id="selling-products" class="col-md-9 product-store">
    <div class="container">
        <div class="tab-content">
            <div id="all" data-tab-content class="active">
                <div class="row d-flex flex-wrap">
                    <span class="h2 text-secondary">Search Result</span>
                    <% productList.map(function(value,index) { %>
                    <div class="product-item col-lg-4 col-md-6 col-sm-6">
                        <div class="image-holder">
                            <img src="<%= value.productImage %>" alt="<%= value.productName %>" class="product-image">
                        </div>
                        <div class="cart-concern">
                            <div class="cart-button d-flex justify-content-between align-items-center">
                                <button data-id="<%= value.productId %>" type="button" class="btn-wrap cart-link d-flex align-items-center addToCart">add to cart<i class="icon icon-arrow-io"></i><i class="icon icon-shopping-cart"></i></button>
                            </div>
                        </div>
                        <div class="product-detail">
                            <h3 class="product-title">
                                <a href="#"><%= value.productName %></a>
                            </h3>
                            <div class="item-price text-primary">$<%= value.productPrice %></div>
                        </div>
                    </div>
                <% }) %>
                </div>
            </div>
        </div>
    </div>
  </section>
  