<section id="selling-products" class="col-md-9 product-store">
    <div class="container">
        <div class="tab-content">
            <div id="all" data-tab-content class="active">
                <div class="row d-flex flex-wrap">
                    <% if(url != 'categories') { %>
                        <% categoryList.map(function(value, index) { %>
                            <% if(value.categoryId == paramId) { %>
                                <span class="h2 text-secondary"><%= value.categoryName %></span>
                            <% } %>
                        <% }) %>
                    <% productList.map(function(value, index) { %>
                    <div class="product-item col-lg-4 col-md-6 col-sm-6">
                        <div class="image-holder">
                            <a href="/store/products/<%= value.productId %>">
                                <img src="<%= value.productImage %>" alt="<%= value.productName %>" class="product-image">
                            </a>
                        </div>
                        <div class="cart-concern">
                            <div class="cart-button d-flex justify-content-between align-items-center">
                                <button data-id="<%= value.productId %>" type="button" class="btn-wrap cart-link d-flex align-items-center addToCart">add to cart<i class="icon icon-arrow-io"></i><i class="icon icon-shopping-cart"></i></button>
                            </div>
                        </div>
                        <div class="product-detail">
                            <h3 class="product-title">
                                <a href="#"><%= value.productName %></a>
                            </h3>
                            <div class="item-price text-primary">$<%= value.productPrice %></div>
                        </div>
                    </div>
                    <% }) %>
                    <% } else { %>
                    <span class="h2 text-secondary">All Categories</span>
                    <% categoryList.map(function(value, index) { %>
                    <div class="product-item col-lg-4 col-md-6 col-sm-6">
                        <div class="image-holder">
                            <a href="/store/categories/<%= value.categoryId %>">
                                <img src="<%= value.categoryImage %>" alt="<%= value.categoryName %>" class="product-image">
                            </a>    
                        </div>
                        <div class="product-detail">
                            <h3 class="product-title">
                                <a href="/store/categories/<%= value.categoryId %>" class="selectedCategory"><%= value.categoryName %></a>
                            </h3>
                        </div>
                    </div>
                    <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>
