<div>
    <h1>All Brands</h1>
    <div>
        <a href="/brands/create" class="btn btn-primary"><i class="fas fa-plus"></i> New Brand</a>
    </div>
    <div class="table-responsive" style="margin-top: 15px;">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="align-middle text-center">
                    <th>#</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% brandList.map(function(value, index) { %>
                <tr class="align-middle text-center">
                    <td class="align-middle"><img width="50" src= "<%= value.brandImage %> " alt=" <%= value.brandName %>"/></td>
                    <td class="align-middle"><%= value.brandId %></td>
                    <td class="align-middle"><%= value.brandName %></td>
                    <td class="align-middle">
                        <div>
                            <a href="/brands/update/<%= value.brandId %>" class="btn btn-primary"> <i class="fas fa-pen"></i></a>
                            <button data-id="<%=value.brandId %>" class="btn btn-danger btnDelete"><i class="fas fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/admin/brands/delete.js"></script>
